/*common*/
*{
    overflow-scrolling:touch;
    -webkit-overflow-scrolling:touch;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-family: "Microsoft YaHei";
    font-weight: 200;
    border:none;
    pointer-events: auto;
}
input,textarea {
    pointer-events: auto;
}
.submitBtn{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    text-align: center;
    border-radius: 6px;
    font-size: 18px;
}
.btn>span{
    display: block;
    text-align: center;
    flex-grow: 1;
    font-size: 18px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    border-radius: 6px;
}
.btn.Primary{
    background: #3479e1;
    color: #FFF;
}
.btn.Primary:active{
    background: #2a6bce;
}
.btn.Warning{
    background: #fe8802;
    color: #FFF;
}
.btn.Warning:active{
    background: #e07b08;
}
.btn.login{
    background: #72aaff;
}
.btn.login:active{
    background: #3479e1;
}
.AppContainer{
    position: relative;
}
.AppPage{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    height: 100%;
    -webkit-flex-direction: column;
    flex-direction: column;
    background: #FFF;
}
.navhead{
    display: flex;
    background: #5cbeaa;
    padding: 20px 15px 8px 15px;
    justify-content: space-between;
    align-items: center;
    pointer-events: auto;
    flex-shrink: 0;
}
.navhead a{
    display: flex;
    align-items: center;
}
.mydevicePage .navhead .navlist{
    display: flex;
    width: 160px;
    padding-left: 30px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    pointer-events: auto;
    cursor: pointer;
}
.mydevicePage .navhead .navlist span{
    display: inline-block;
    padding: 3px 15px;
    background: #FFF;
    font-size: 12px;
    border: 1px solid #FFF;
}
.mydevicePage .navhead .navlist span.sel{
    background: none;
    color: #FFF;
}
.mydevicePage .navhead .moresetting{
    display: flex;
    align-items: center;
}
.mydevicePage .searchcontent{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f8fa;
    padding: 10px 0;
    pointer-events: auto;
    position: relative;
}
.mydevicePage .searchcontent input{
    width: 80%;
    border-radius: 30px;
    height: 30px;
    border: 1px solid #EEE;
    background: #FFF;
    font-size: 16px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAdCAYAAABWk2cPAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTM4IDc5LjE1OTgyNCwgMjAxNi8wOS8xNC0wMTowOTowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTcgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6Qzc3NjY1OEE5MDUyMTFFNzhDNzhDODZBMzVDNjg4MUQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6Qzc3NjY1OEI5MDUyMTFFNzhDNzhDODZBMzVDNjg4MUQiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpDNzc2NjU4ODkwNTIxMUU3OEM3OEM4NkEzNUM2ODgxRCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpDNzc2NjU4OTkwNTIxMUU3OEM3OEM4NkEzNUM2ODgxRCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuudMlEAAAKhSURBVHjatJZdaM1hHMf/x8tseT0zbzOTcoMwtAsvN4QRmmzEjRRJckFczMXcKKPckpRSLCJaeUsWjWbD5oLckM1LSbFz1Ckvm5nPo++pf/+e/4tz/vvVp+f3/HfOPs/zf57ze55EOtXjBEQSaqEK5kMpFMFX6IZWuG7accniASdiJHyko+AgHFIeFu1Qh7glV+kCaIJy9c0MnkEzdMEPmKDPrYMS13dPw37kfUHSYZ5+NTTCSPgD5+EovPP5/lDYCMdhJuyFWd/SqfWIv/tJh7jyZXBFQrNmK2BngNBEP//8Gu0cOKdny+EC4kSYdAxcggL4AkugJerGQNwLu0hP6NEmOBwmPQJlZuSwGd44uYUR3VBez2yn+UmLYY/6Z/5nhpYZm023D35CIRzwk9ZoHftdr8fJQ/yB5qy6NX7S1cofwUcnnmhUW84rrrBJK1zSuKJTv2cTlTZpqfLuuIy8YrNU79WdYpMWKv/lxBvZqlRkk6aUj49ZmlTbY5O+VT43LhubZyLNVHW7bNI25VWesphPbDCHiQ6Ldpu0Kbu9YW0Ms0yoZv878thUn2zSh/BS/WMwPE+vqbuLXUedtTgMuIrzPGjIY5amfp9S9wVcDir4t1xVxNwY6nIQmo1zFyaBOUu382p/h52nu+GJ8gYddSURheYG0QGz9ajXckGwSs3o1sAD9bfq53RSa+Td2WNhC8L7tDdhsgpMxhQluMffFkW9I5kR1usVF7ieZ1Qq+3QcTvcM5BXsgBFwWxeDNKziNXdGuQ2amKHb4DZXdbFFhzbPxewaMsOlQeJEyL3X0Wwrde8t0+zMUryGxzo/betsxHdgtMQr+ezzqNKwEyVog1nFcZU9vwG1qspltETNDGThoEp9xFcHXeoRf4anfwUYACSIxC5XCigKAAAAAElFTkSuQmCC");
    background-size: 20px 20px;
    background-position: 10px 5px;
    background-repeat: no-repeat;
    text-indent: 40px;
}
.mydevicePage .searchcontent.headsearch .searchplaceholder{
    top: 10px;
    width: 80%;
    margin-left: 10%;
    border: 1px solid #EEE;
    border-radius: 30px;
}
.indexPage .navhead .userlnk img{
    width: 30px;
}
.indexPage .headsearch{
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    background: #FFF;
    border-radius: 6px;
}
.indexPage .headsearch input{
    height: 30px;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAdCAYAAABWk2cPAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTM4IDc5LjE1OTgyNCwgMjAxNi8wOS8xNC0wMTowOTowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTcgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6Qzc3NjY1OEE5MDUyMTFFNzhDNzhDODZBMzVDNjg4MUQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6Qzc3NjY1OEI5MDUyMTFFNzhDNzhDODZBMzVDNjg4MUQiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpDNzc2NjU4ODkwNTIxMUU3OEM3OEM4NkEzNUM2ODgxRCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpDNzc2NjU4OTkwNTIxMUU3OEM3OEM4NkEzNUM2ODgxRCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuudMlEAAAKhSURBVHjatJZdaM1hHMf/x8tseT0zbzOTcoMwtAsvN4QRmmzEjRRJckFczMXcKKPckpRSLCJaeUsWjWbD5oLckM1LSbFz1Ckvm5nPo++pf/+e/4tz/vvVp+f3/HfOPs/zf57ze55EOtXjBEQSaqEK5kMpFMFX6IZWuG7accniASdiJHyko+AgHFIeFu1Qh7glV+kCaIJy9c0MnkEzdMEPmKDPrYMS13dPw37kfUHSYZ5+NTTCSPgD5+EovPP5/lDYCMdhJuyFWd/SqfWIv/tJh7jyZXBFQrNmK2BngNBEP//8Gu0cOKdny+EC4kSYdAxcggL4AkugJerGQNwLu0hP6NEmOBwmPQJlZuSwGd44uYUR3VBez2yn+UmLYY/6Z/5nhpYZm023D35CIRzwk9ZoHftdr8fJQ/yB5qy6NX7S1cofwUcnnmhUW84rrrBJK1zSuKJTv2cTlTZpqfLuuIy8YrNU79WdYpMWKv/lxBvZqlRkk6aUj49ZmlTbY5O+VT43LhubZyLNVHW7bNI25VWesphPbDCHiQ6Ldpu0Kbu9YW0Ms0yoZv878thUn2zSh/BS/WMwPE+vqbuLXUedtTgMuIrzPGjIY5amfp9S9wVcDir4t1xVxNwY6nIQmo1zFyaBOUu382p/h52nu+GJ8gYddSURheYG0QGz9ajXckGwSs3o1sAD9bfq53RSa+Td2WNhC8L7tDdhsgpMxhQluMffFkW9I5kR1usVF7ieZ1Qq+3QcTvcM5BXsgBFwWxeDNKziNXdGuQ2amKHb4DZXdbFFhzbPxewaMsOlQeJEyL3X0Wwrde8t0+zMUryGxzo/betsxHdgtMQr+ezzqNKwEyVog1nFcZU9vwG1qspltETNDGThoEp9xFcHXeoRf4anfwUYACSIxC5XCigKAAAAAElFTkSuQmCC");
    background-size: 20px 20px;
    background-position: 10px 5px;
    background-repeat: no-repeat;
    text-indent: 40px;
}
.headsearch .searchplaceholder{
    position: absolute;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top:  0;
    height: 30px;
    color:  #DDD;
    background: #FFF;
    border-radius: 6px;
}
.headsearch .searchplaceholder img{
    width: 20px;
    margin-right: 10px;
}
.indexPage .navhead .setting img{
    width: 30px;
}
.indexPage .indexnav{
    display: flex;
    justify-content: space-around;
    line-height: 39px;
    background: #FFF;
    border-bottom: 1px solid #EEE;
    pointer-events: auto;
}
.indexPage .indexnav span{
    display: inline-block;
    position: relative;
    font-size: 15px;
}
.indexPage .indexnav span.sel:after{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    left: 0;
    content: "";
    background: #5cbeaa;
}
.footerPage{
     pointer-events: auto;
}
.footerPage ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #b3b3b6;
    background: #FFF;
}
.footerPage ul li {
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 8px 0 7px 0;
    flex-grow: 1;
    position: relative;
}
.footerPage ul li:active{
    background: #F2F2F2;
}
.footerPage ul li img{
    width: 32px;
}
.footerPage ul li span{
    font-size: 12px;
}
.footerPage ul li span.sel{
    color: #5cbeaa;
}
.footerPage ul li span.num{
    position: absolute;
    height: 18px;
    width: 18px;
    background: #C00;
    color:  #FFF;
    line-height: 18px;
    border-radius: 18px;
    right: -20px;
    margin-right: 50%;
    top: 5px;
}
.playbackPage .searchlnk img{
    width: 30px;
}
.playbackPage .navhead {
    color:  #FFF;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.playbackPage .navhead .title{
    flex-grow: 1;
    text-align: center;
    font-size: 18px;
}
.mydevicelist {
    flex-grow:1;
    background: #FFF;
    pointer-events: auto;
}
.mydevicelist .li{
    position: relative;
    padding: 0 15px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 50px;
}
.mydevicelist .li:active{
    background: #EEE;
}
.mydevicelist .li img{
    width: 30px;
    margin-right: 10px;
}
.mydevicelist .li:after{
    content: "";
    display: inline-block;
    height: 1px;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    background: #DDD;
}
.mydevicelist .li:before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border:  1px solid #666;
    position: absolute;
    border-bottom: none;
    border-left: none;
    right: 20px;
    top: 20px;
    transform: rotate(45deg);
    -moz-transform:rotate(45deg);    /* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
}
.mydevicePage .mydevicecontent {
    flex-grow: 1;
    background: #FFF;
    pointer-events: auto;
}
.mydevicecontentlist{
    background:  #FFF;
    flex-grow: 1;
    pointer-events: auto;
}
.mydevicecontentlist .devicenum{
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    padding:  10px 0;

}
.mydevicecontentlist .devicenum span.c{
    margin: 0 15px;
}
.navhead .back{
    display: flex;
    width: 30px;
    align-self: stretch;
    align-items: center;
    justify-content: center;
}
.navhead .back:before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border:  1px solid #FFF;
    border-top: none;
    border-right: none;
    right: 20px;
    transform: rotate(45deg);
    -moz-transform:rotate(45deg);    /* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
}
.navhead .title{
    color: #FFF;
    font-size: 18px;
    flex-grow: 1;
    text-align: center;
}
.deviceinfocontent div.li{
    display: flex;
    margin: 0 15px;
    border-bottom: 1px solid #EEE;
    line-height: 40px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
.deviceinfocontent .tit{
    background: #EEE;
    line-height: 36px;
    text-align: center;
    font-size: 16px;
}
.indexPage .workorderlist{
    flex-grow: 1;
    overflow:hidden;
}
.indexPage .workorderlist .contenttit{
    background: #EEE;
    text-align: center;
    padding: 10px 0;
}
.indexPage .workorderlist .ant-table-tbody > tr.isdone{
    background:#EEE;
    color: #999;
}
.indexPage .workorderlist .ant-table-tbody > tr.isdone td,
.indexPage .workorderlist .ant-table-tbody > tr.isdone td span{
    color: #999;
}
.workordernav {
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
}
.workordernav span{
    display: inline-block;
    position: relative;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
}

.workordernav span.sel:after{
    content: "";
    display: inline-block;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    background: rgb(92, 190, 170);
}
.playbackPage .set{
    position: fixed;
    top: 58px;
    width: 100%;
    bottom: 0;
    background: rgba(0,0,0,.1);
}
.playbackPage .set.seltimewamp{
    background: #FFF;
    position: inherit;
    top:0;
    position: fixed;
    height: 208px;
    top:58px;
    z-index: 1000;
}
.playbackPage .formlist{
    background: #FFF;
    pointer-events: auto;
}
.workerorderinfo{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
}
.workerorderinfo, 
.workerorderinfo *{
    pointer-events: auto;
}
.workerorderinfo li{
    padding: 10px 15px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.workerorderinfo li span{
    display: inline-block;
    flex-grow: 1;
    max-width: 50%;
    flex-shrink: 1;
}
.workerorderinfo li span.full{
    flex-shrink: 0;
    max-width: 100%;
}
.workerorderinfo li:nth-child(odd){
    background: #F4F4F4;
}
.workerorderinfo .tit{
    background: #FFF;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 10px 15px;
    font-size:  16px;
    position: relative;
}
.workerorderinfo .tit:after{
    content: "";
    height: 14px;
    width: 14px;
    display: inline-block;
    border: 1px solid #666;
    transform: rotate(45deg);
    -moz-transform:rotate(45deg);    /* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
    position: absolute;
    right: 15px;
    top: 12px;
    border-top: none;
    border-left:  none;
}
.workerorderinfo .infoimg{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-bottom: 1px solid #EEE;
    flex-direction: column;
    margin: 10px 15px;
    margin-bottom: 0;
    padding-bottom: 1px;
}
.workerorderinfo .infoimg > textarea{
    flex-grow: 1;
    font-size: 14px;
    resize: none;
    align-self: stretch;
    justify-content: flex-start;
    border: none;
    margin-bottom: 10px;
}
.workerorderinfo .infoimg .isdonetext{
    font-size: 16px;
    margin-bottom: 10px;
}
.workerorderinfo .ant-btn-primary{
    background: #5cbeaa;
    border-color: #5cbeaa;
    margin:  15px 20%;
    height: 40px;
    font-size: 16px;
}
.usercenterPage .content{
    flex-grow: 1;
    background: #EEE;
}
.usercenterPage .content .head{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EEE;
    background: #FFF;
    margin-bottom: 20px;
}
.usercenterPage .content .head img{
    width: 70px;
    height: 83px;
}
.usercenterPage .content .username{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-size:  16px;
    justify-content: center;
}
.usercenterPage .content .changepwd{
    height: 30px;
    border: 1px solid #5cbeaa;
    border-radius: 30px;
    padding:  0 15px;
    line-height: 30px;
    color: #5cbeaa;
    align-self: center;
}
.usercenterPage .content .changepwd:active{
    background: #5cbeaa;
    color: #FFF;
}
.settingPage{
    background: #EEE;
    flex-grow:1;
}


.settinguserinfo{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EEE;
    background: #FFF;
    margin-bottom: 20px;
}
.settinguserinfo img{
    width: 60px;
    height: 73px;
}
.settinguserinfo .username{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-size:  16px;
    justify-content: center;
}
.settingmessage .title{
    padding: 15px 0 10px 15px;
}
.settingmessage .selli{
    background: #FFF;
    padding: 15px;
    font-size: 16px;
    position: relative;
}
.settingmessage .selli:active{
    background: #EEE;
}
.settingmessage label{
    font-size: 16px;
}
.settingmessage .selli:after{
    content: "";
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #666;
    border-bottom: none;
    border-left: none;
    right: 20px;
    top:20px;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

}
.deviceinfocontent{
    flex-grow: 1;
    overflow-y: scroll;
}
div.mydevicebtn{
    display: flex;
    border-bottom: none;
    padding: 10px 15px;
    flex-shrink: 0;
}
.mydevicebtn button{
    flex-grow:1;
    font-size: 16px;
    height: 40px;
}
.mydevicebtn button:first-child{
    margin-right: 5px;
}
.mydevicebtn button:last-child{
    margin-left: 5px;
}
.commonmap {
    position: absolute;
    width: 100%;
    background: none;
    top:0;
    left: 0;
    z-index: 1
}
.AppContainer >div:first-child{
    position: relative;
    z-index: 2
}
.amap-overlays .amap-ui-smp-ifwn-content-body{
    box-shadow: none;
    border-radius: 15px;
    padding:0;
    overflow:hidden;
}
.amap-overlays .amap-ui-smp-ifwn-def-tr-close{
    display: none;
}
.amap-overlays .amap-ui-smp-ifwn-info-title{
    border-bottom: none;
    display: none;
}
.amap-overlays .amap-ui-infowindow-body.amap-ui-smp-ifwn-info-content > p:first-child{
    background: #5cbeaa;
    text-align: center;
    color: #FFF;
    line-height: 30px;
    font-size: 14px;
    display: block;
}
.amap-overlays .amap-ui-smp-ifwn-info-content{
    position: relative;
    padding: 0;
    padding-bottom: 10px;
}
.amap-overlays .amap-ui-infowindow-body.amap-ui-smp-ifwn-info-content p {
    display: flex;
    flex-wrap: nowrap;
}
.amap-overlays .amap-ui-infowindow-body.amap-ui-smp-ifwn-info-content p span{
    display: inline-block;
}
.amap-overlays .amap-ui-infowindow-body.amap-ui-smp-ifwn-info-content p span:first-child{
    width: 25%;
    text-align: right;
    flex-shrink: 0;
}
.amap-overlays .amap-ui-infowindow-body.amap-ui-smp-ifwn-info-content p span:last-child{
    padding-left: 15px;
    flex-grow: 1;
    margin-right: 60px;
}
.amap-overlays .amap-ui-infowindow-body.amap-ui-smp-ifwn-info-content button{
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 1000;
    color: #27b395;
    font-size: 16px;
    background: none;
    padding-right: 10px;
}
.amap-overlays .amap-ui-infowindow-body.amap-ui-smp-ifwn-info-content button:after{
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #27b395;
    right: 0px;
    top: 7px;
    position: absolute;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-bottom: none;
    border-left: none;
}
.amap-overlays .amap-info > div:first-child {
    width: 100%;
}
.customtable .ant-table-tbody>tr.ant-table-row>td:first-child >p{
    white-space: nowrap;
    text-overflow:ellipsis; 
    width: 60px;
    height: 20px;
    overflow:hidden;
    line-height: 20px;
    display: inline-block;
}
.customtable .ant-table-tbody>tr.ant-table-row>td:last-child span{
    white-space: nowrap;
    text-overflow:ellipsis; 
    width: 80px;
    height: 20px;
    overflow:hidden;
    line-height: 20px;
    display: inline-block;
}
.customtable .ant-table-tbody>tr>td,
.customtable .ant-table-thead>tr>th{
    word-break: normal;
    width: 16.6%;
    text-align: center;
}
.customtable .ant-table-thead>tr>th:first-child{
    padding-left: 26px;
}
