/*common*/
*{
    overflow-scrolling:touch;
    -webkit-overflow-scrolling:touch;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 200;
    border:none;
}
.submitBtn{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    text-align: center;
    border-radius: 6px;
    font-size: 18px;
}
.btn>span{
    display: block;
    text-align: center;
    flex-grow: 1;
    font-size: 18px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    border-radius: 6px;
}
.btn.Primary{
    background: #3479e1;
    color: #FFF;
}
.btn.Primary:active{
    background: #2a6bce;
}
.btn.Warning{
    background: #fe8802;
    color: #FFF;
}
.btn.Warning:active{
    background: #e07b08;
}
.btn.login{
    background: #72aaff;
}
.btn.login:active{
    background: #3479e1;
}
.AppContainer{
    
}
.AppPage{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    height: 100%;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.navhead{
    display: flex;
    background: #5cbeaa;
    padding: 20px 15px 10px 15px;
    justify-content: space-between;
    align-items: center;
}
.navhead a{
    display: flex;
    align-items: center;
}
.mydevicePage .navhead .navlist{
    display: flex;
    width: 160px;
    padding-left: 30px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.mydevicePage .navhead .navlist span{
    display: inline-block;
    padding: 7px 15px;
    background: #FFF;
    font-size: 16px;
    border: 1px solid #FFF;
}
.mydevicePage .navhead .navlist span.sel{
    background: none;
    color: #FFF;
}
.mydevicePage .navhead .moresetting{
    display: flex;
    align-items: center;
}
.mydevicePage .searchcontent{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f8fa;
    padding: 10px 0;
}
.mydevicePage .searchcontent input{
    width: 80%;
    border-radius: 40px;
    height: 40px;
    border: 1px solid #EEE;
    background: #FFF;
    font-size: 16px;
    text-align: center;
}
.indexPage .navhead .userlnk img{
    width: 30px;
}
.indexPage .headsearch{
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
}
.indexPage .headsearch input{
    height: 30px;
    width: 100%;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
}
.indexPage .navhead .setting img{
    width: 30px;
}
.indexPage .indexnav{
    display: flex;
    justify-content: space-around;
    line-height: 50px;
    background: #FFF;
    border-bottom: 2px solid #EEE;
}
.indexPage .indexnav span{
    display: inline-block;
    position: relative;
    font-size: 18px;
}
.indexPage .indexnav span.sel:after{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    left: 0;
    content: "";
    background: #5cbeaa;    
}
.footerPage ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #DDD;
    background: #FFF;
}
.footerPage ul li {
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 5px 0;
    flex-grow: 1;
}
.footerPage ul li:active{
    background: #F2F2F2;
}
.footerPage ul li img{
    width: 32px;
}
.footerPage ul li span{
    font-size: 12px;
}
.playbackPage .searchlnk img{
    width: 30px;
}
.playbackPage .navhead {
    color:  #FFF;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.playbackPage .navhead .title{
    flex-grow: 1;
    text-align: center;
    font-size: 18px;
}
.mydevicelist {
    flex-grow:1;
}
.mydevicelist .li{
    position: relative;
    padding: 0 15px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 50px;
}
.mydevicelist .li:active{
    background: #EEE;
}
.mydevicelist .li img{
    width: 30px;
    margin-right: 10px;
}
.mydevicelist .li:after{
    content: "";
    display: inline-block;
    height: 1px;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    background: #DDD;
}
.mydevicelist .li:before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border:  1px solid #666;
    position: absolute;
    border-bottom: none;
    border-left: none;
    right: 20px;
    transform: rotate(45deg); 
    -moz-transform:rotate(45deg);    /* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
}
.mydevicePage .mydevicecontent {
    flex-grow: 1;
}
.mydevicecontentlist .devicenum{
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    padding:  10px 0;
}
.mydevicecontentlist .devicenum span.c{
    margin: 0 15px;
}
.navhead .back{
    display: flex;
    width: 30px;
    align-self: stretch;
    align-items: center;
    justify-content: center;
}
.navhead .back:before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border:  1px solid #FFF;
    border-top: none;
    border-right: none;
    right: 20px;
    transform: rotate(45deg); 
    -moz-transform:rotate(45deg);    /* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
}
.navhead .title{
    color: #FFF;
    font-size: 18px;
    flex-grow: 1;
    text-align: center;
}
.deviceinfocontent >div{
    display: flex;
    margin: 0 15px;
    border-bottom: 1px solid #EEE;
    line-height: 40px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.indexPage .workorderlist{
    flex-grow: 1;
}
.indexPage .workorderlist .contenttit{
    background: #EEE;
    text-align: center;
    padding: 10px 0;
}
.workordernav {
    display: flex;
    justify-content: space-around;
}
.workordernav span{
    display: inline-block;
    position: relative;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
}

.workordernav span.sel:after{
    content: "";
    display: inline-block;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    background: rgb(92, 190, 170);
}
.playbackPage .set{
    position: fixed;
    top: 60px;
    width: 100%;
    bottom: 62px;
    background: rgba(0,0,0,.1);

}
.playbackPage .set.seltimewamp{
    background: #FFF;
    position: inherit;
}
.playbackPage .formlist{
    background: #FFF;
}
.workerorderinfo{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.workerorderinfo li{
    padding: 10px 15px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.workerorderinfo li span{
    display: inline-block;
    flex-grow: 1;
    max-width: 50%;
    flex-shrink: 1;
}
.workerorderinfo li span.full{
    flex-shrink: 0;
    max-width: 100%;
}
.workerorderinfo li:nth-child(odd){
    background: #F4F4F4;
}
.workerorderinfo .tit{
    background: #FFF;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 10px 15px;
    font-size:  16px;
    position: relative;
}
.workerorderinfo .tit:after{
    content: "";
    height: 14px;
    width: 14px;
    display: inline-block;
    border: 1px solid #666;
    transform: rotate(45deg); 
    -moz-transform:rotate(45deg);    /* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
    position: absolute;
    right: 15px;
    top: 12px;
    border-top: none;
    border-left:  none;
}
.workerorderinfo .infoimg{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border-bottom: 1px solid #EEE;
}
.workerorderinfo .ant-btn-primary{
    background: #5cbeaa;
    border-color: #5cbeaa;
    margin:  15px 20%;
    height: 40px;
    font-size: 16px;
}
.usercenterPage .content{
    flex-grow: 1;
    background: #EEE;
}
.usercenterPage .content .head{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EEE;
    background: #FFF;
    margin-bottom: 20px;
}
.usercenterPage .content .head img{
    width: 70px;
    height: 83px;
}
.usercenterPage .content .username{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-size:  16px;
    justify-content: center;
}
.usercenterPage .content .changepwd{
    height: 30px;
    border: 1px solid #5cbeaa;
    border-radius: 30px;
    padding:  0 15px;
    line-height: 30px;
    color: #5cbeaa;
    align-self: center;
}
.usercenterPage .content .changepwd:active{
    background: #5cbeaa;
    color: #FFF;
}
.settingPage{
    background: #EEE;
    flex-grow:1;
}


.settinguserinfo{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EEE;
    background: #FFF;
    margin-bottom: 20px;
}
.settinguserinfo img{
    width: 60px;
    height: 73px;
}
.settinguserinfo .username{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-size:  16px;
    justify-content: center;
}
.settingmessage .title{
    padding: 15px 0 10px 15px;
}
.settingmessage .selli{
    background: #FFF;
    padding: 15px;
    font-size: 16px;
    position: relative;
}
.settingmessage .selli:active{
    background: #EEE; 
}
.settingmessage label{
    font-size: 16px;
}
.settingmessage .selli:after{
    content: "";
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #666;
    border-bottom: none;
    border-left: none;
    right: 20px;
    top:20px;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

}
.deviceinfocontent >div.mydevicebtn{
    display: flex;
    border-bottom: none;
    padding-top: 20px;
}
.mydevicebtn button{
    flex-grow:1;
    font-size: 16px;
    height: 40px;
}
.mydevicebtn button:first-child{
    margin-right: 5px;
}
.mydevicebtn button:last-child{
    margin-left: 5px;
}

